/* === Estilos generales */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* === Estilos: Login */
.boxContainer {
  width: 100%;
}
.boxContainer .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.boxContainer .box .img {
  width: 9.625rem;
  height: 1.625rem;
}
.boxContainer .box .subtitulo {
  margin-top: 1.25rem;
  margin-bottom: 3.125rem;
}
.boxContainer .box .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.boxContainer .box .textContainer .textField {
  width: 37rem;
  margin-top: 0.625rem;
}
.boxContainer .box .button {
  text-transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  text-transform: none;
  width: 37rem;
  height: 3rem;
  background-color: #164439;
  margin-bottom: 0.625rem;
}
.boxContainer .box .button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #164439;
  text-align: center;
}
.boxContainer .box .button:hover svg {
  color: #41a88a;
}
.boxContainer .box .button:hover .MuiTypography-root {
  color: #41a88a;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  font-style: italic;
}
.boxContainer .box .textContainerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 660px) {
  .boxContainer .box {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .boxContainer .box .textContainer .textField {
    width: 25rem;
  }
  .boxContainer .box .button {
    width: 25rem;
  }
}
@media screen and (max-width: 450px) {
  .boxContainer .box .textContainer .textField {
    width: 18.75rem;
  }
  .boxContainer .box .button {
    width: 18.75rem;
  }
}
/* === Estilos: ItemListContainer */
.itemListContainer {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 90px;
}
.itemListContainer .categoriasContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.itemListContainer .categoriasContainer .categoriasContent {
  width: 153px;
  height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #164439;
  margin: 20px 10px 50px 10px;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.itemListContainer .categoriasContainer .categoriasContent:hover {
  border-radius: 2px;
  border: 1px solid #FF6;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.itemListContainer .categoriasContainer .categoriasContent:hover svg {
  color: #FFFF66;
}
.itemListContainer .categoriasContainer .categoriasContent:focus {
  border-radius: 2px;
  border: 1px solid #FFC8B9;
  background: #052C22;
}
.itemListContainer .categoriasContainer .categoriasContent:focus svg {
  color: #FFC8B9;
}
.itemListContainer .categoriasContainer .categoriasContent svg {
  width: 40px;
  height: 40px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: white;
}
.itemListContainer .categoriasContainer .categoriasContent .MuiTypography-root {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: white;
}

.itemsFilterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filtrosContainer {
  width: 491px;
  height: 331px;
  border-radius: 2px;
  background: #b71b1b;
  border: 5px solid blue;
  -webkit-box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.cardContainer {
  width: 330px;
  height: 330px;
  border-radius: 2px;
  background: var(--Card, #F8F8F8);
  -webkit-box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.cardContainer .MuiCardMedia-root {
  width: 306px;
  height: 175px;
  margin: 13px;
  border-top-right-radius: 100px;
}
.cardContainer .butonDetailContainer {
  margin-left: "auto";
  margin-top: "auto";
  margin-right: "12px";
  margin-bottom: "14px";
}
.cardContainer .buttonToDetail {
  text-transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  width: 222px;
  height: 37px;
  background-color: #164439;
  margin-bottom: 10px;
}
.cardContainer .buttonToDetail:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #164439;
  text-align: center;
}
.cardContainer .buttonToDetail:hover svg {
  color: #41a88a;
}
.cardContainer .buttonToDetail:hover .MuiTypography-root {
  color: #41a88a;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
  font-style: italic;
}

@media screen and (max-width: 1260px) {
  .itemListContainer {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 810px) {
  .itemListContainer {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 720px) {
  .cardContainer {
    width: 250px;
    height: 280px;
  }
  .cardContainer .MuiCardMedia-root {
    width: 230px;
    height: 130px;
    border-top-right-radius: 80px;
  }
  .cardContainer .buttonToDetail {
    width: 150px;
    height: 37px;
  }
}
/* === Estilos: Carrusel del ItemListContainer */
.carrusel {
  background: #164439;
  width: 100%;
  height: 39.563rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carrusel .carruselContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27.063rem;
  height: 6.563rem;
}
.carrusel img {
  width: 33.25rem;
  height: 23.063rem;
  border-top-right-radius: 12.5rem;
  border-bottom-left-radius: 12.5rem;
}

@media screen and (max-width: 1100px) {
  .carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carrusel .carruselContainer {
    width: 56.25rem;
    height: 6.563rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carrusel img {
    margin-top: 3.125rem;
  }
}
@media screen and (max-width: 900px) {
  .carrusel {
    height: 31.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .carrusel .carruselContainer {
    display: none;
  }
  .carrusel .carruselContainer img {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .carrusel {
    display: none;
  }
}
/* === Estilos: Item Detail */
.itemDetailContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #164439;
  height: 612px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.itemDetailContainer .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  width: 599px;
  height: 466px;
  margin-right: 20px;
}
.itemDetailContainer .imgContainer .MuiCardMedia-root {
  width: 487px;
  height: 301px;
}

.itemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
  width: 380px;
}
.itemDetail .titleDetail {
  width: 100%;
  height: 83px;
  margin-bottom: 50px;
}
.itemDetail .descriptionDetail {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 83px;
}

.stockItemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 20px;
  background-color: #FFFF66;
}

.counterItemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88px;
  height: 36px;
  background-color: #EEE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
  margin-right: 20px;
}

.counter {
  background: #FFF;
  width: 88px;
  height: 36px;
  line-height: 28.8;
  text-align: center;
  margin-left: 2.5px;
}

.subAddOne {
  color: #9A9A9A;
  width: 28px;
  height: 36p;
  text-align: center;
  line-height: 36px;
}

.serviceContainer {
  width: 100%;
  height: 240px;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.serviceContainer .service {
  width: 329px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.serviceContainer .service svg {
  color: #164439;
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 1200px) {
  .itemDetailContainer {
    height: 750px;
  }
  .itemDetailContainer .imgContainer {
    width: 479px;
    height: 373px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
  }
  .itemDetailContainer .imgContainer .MuiCardMedia-root {
    width: 389px;
    height: 240px;
  }
}
@media screen and (max-width: 950px) {
  .itemDetailContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .itemDetailContainer .imgContainer {
    width: 383px;
    height: 298px;
    border-top-right-radius: 125px;
    border-bottom-left-radius: 125px;
  }
  .itemDetailContainer .imgContainer .MuiCardMedia-root {
    width: 311px;
    height: 192px;
  }
  .itemDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .itemDetail .titleDetail {
    width: 600px;
    margin-bottom: 10px;
  }
  .itemDetail .descriptionDetail {
    margin-bottom: 5px;
    width: 600px;
  }
  .stockCounterButtonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .itemDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .itemDetail .titleDetail {
    width: 80%;
    margin-bottom: 20px;
  }
  .itemDetail .descriptionDetail {
    margin-bottom: 5px;
    width: 80%;
  }
}
@media screen and (max-width: 625px) {
  .itemDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .itemDetail .titleDetail {
    width: 80%;
    margin-bottom: 20px;
    height: 100%;
  }
  .itemDetail .descriptionDetail {
    margin-bottom: 5px;
    width: 80%;
    height: 100%;
  }
  .serviceContainer {
    height: 200px;
  }
  .serviceContainer .service {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .serviceContainer .service svg {
    width: 50px;
    height: 50px;
  }
  .serviceContainer .service .serviceBold {
    font-weight: 600;
    font-size: 20px;
  }
  .serviceContainer .service .service {
    font-weight: 300;
    font-size: 16px;
  }
}
/* === Estilos: Cart */
.responsiveCart {
  display: none;
}

.cart {
  width: 100%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .tableContainer {
  width: 42.813rem;
  max-height: 42.813rem;
  border-radius: 3px;
  -webkit-box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin-top: 1.25rem;
}

.cartStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}
.cartStatus .cartLine {
  width: 10%;
  height: 0.063rem;
  margin-left: 0.313rem;
  margin-right: 0.313rem;
}

.productContainer {
  position: relative;
}
.productContainer img {
  width: 4.188rem;
  height: 4.25rem;
  border-radius: 2px;
}
.productContainer .deleteProductContainer {
  position: absolute;
  bottom: 0.281rem;
  left: 0;
  cursor: pointer;
  background: #41A88A;
  width: 1.563rem;
  height: 1.563rem;
}
.productContainer .deleteProductContainer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  width: 0.875rem;
  height: 0.875rem;
}
.productContainer .titleProductContainer {
  width: 9.75rem;
  margin-left: 0.625rem;
}

.quantityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EEE;
  width: 5.5rem;
  height: 2.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.375rem;
  margin-right: 1.25rem;
}
.quantityContainer .quantity {
  background: #FFF;
  width: 2.232rem;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  margin-left: 0.156rem;
}
.quantityContainer .quantitySubAdd {
  color: #9A9A9A;
  width: 1.75rem;
  height: 2.25rem;
  text-align: center;
  line-height: 2.25rem;
}

.subTotalContainer {
  position: sticky;
  bottom: 0;
  padding: 0.625rem;
  background: #F8F8F8;
}
.subTotalContainer .subTotal {
  background: #FFF;
  width: 39.188rem;
  height: 2.188rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.25rem;
  width: 50%;
  margin-bottom: 4.375rem;
}
.optionsContainer .LinkOptions {
  text-decoration: none;
}
.optionsContainer .LinkOptions SVG {
  width: 0.875rem;
  height: 0.875rem;
}

@media screen and (max-width: 720px) {
  .responsiveCart {
    display: block;
  }
  .cart {
    display: none;
  }
  .cartResponsive {
    width: 100%;
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cartResponsive .tableContainerResponsive {
    width: 80%;
    max-height: 25.938rem;
    border-radius: 3px;
    -webkit-box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin-top: 1.25rem;
  }
  .cartStatusResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2.5rem;
    width: 90%;
  }
  .cartStatusResponsive .cartLineResponsive {
    width: 10%;
    height: 0.063rem;
    margin-left: 0.313rem;
    margin-right: 0.313rem;
  }
  .productContainerResponsive {
    position: relative;
    margin-right: 1.25rem;
  }
  .productContainerResponsive img {
    width: 5.625rem;
    height: 9cap;
    border-radius: 2px;
  }
  .productContainerResponsive .deleteProductContainerResponsive {
    position: absolute;
    bottom: 0.281rem;
    left: 0;
    cursor: pointer;
    background: #41A88A;
    width: 1.875rem;
    height: 1.875rem;
  }
  .productContainerResponsive .deleteProductContainerResponsive svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #FFF;
    width: 1.375rem;
    height: 1.375rem;
  }
  .detailProductContainerResponsive {
    margin-left: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quantityPriceContainerResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.938rem;
  }
  .quantityContainerResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #EEE;
    width: 5.5rem;
    height: 2.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.375rem;
    margin-right: 1.25rem;
  }
  .quantityContainerResponsive .quantityResponsive {
    background: #FFF;
    width: 2.232rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    margin-left: 0.156rem;
  }
  .quantityContainerResponsive .quantitySubAddResponsive {
    color: #9A9A9A;
    width: 1.75rem;
    height: 2.25rem;
    text-align: center;
    line-height: 2.25rem;
  }
  .subTotalContainerResponsive {
    position: sticky;
    bottom: 0;
    padding: 0.625rem;
    background: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subTotalContainerResponsive .subTotalResponsive {
    background: #FFF;
    width: 39.188rem;
    height: 2.188rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
  }
  .optionsContainerResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.25rem;
    width: 80%;
    margin-bottom: 4.375rem;
  }
  .optionsContainerResponsive .LinkOptionsResponsive {
    text-decoration: none;
  }
  .optionsContainerResponsive .LinkOptionsResponsive SVG {
    width: 0.875rem;
    height: 0.875rem;
  }
}