@charset "UTF-8";
/* === Estilos generales */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  background-color: #ebebeb;
}

/* === Hover Navbar */
.hoverVerdeClaro:hover {
  color: #41A88A;
  font-weight: bold;
}

/* === Hover: Footer */
.soporte .itemsContainer .itemBox {
  padding: 1px;
}
.soporte .itemsContainer .itemBox .item:hover {
  color: #FFFF66;
  font-weight: 500;
}

.secciones .itemsContainer .itemBox {
  padding: 1px;
}
.secciones .itemsContainer .itemBox .item:hover {
  color: #FFFF66;
  font-weight: 500;
}

/* === Estilos: Login */
.boxContainer {
  width: 100%;
  background-color: #e7e7e7;
}
.boxContainer .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.boxContainer .box .img {
  width: 9.625rem;
  height: 1.625rem;
}
.boxContainer .box .subtitulo {
  margin: 1em 0;
}
.boxContainer .box .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.boxContainer .box .textContainer .textField {
  width: 100%;
  margin-top: 0.625rem;
}
.boxContainer .box .textContainer .textField .MuiInputBase-root {
  height: 2.5em;
}
.boxContainer .box .button {
  text-transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
  text-transform: none;
  width: 37rem;
  height: 3rem;
  background-color: #164439;
  margin-bottom: 0.625rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.boxContainer .box .button .MuiTypography-root {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.boxContainer .box .button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #164439;
  text-align: center;
}
.boxContainer .box .button:hover svg {
  color: #41a88a;
}
.boxContainer .box .button:hover .MuiTypography-root {
  color: #41a88a;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.boxContainer .box .textContainerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 660px) {
  .boxContainer .box {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .boxContainer .box .textContainer .textField {
    width: 25rem;
  }
  .boxContainer .box .button {
    width: 25rem;
  }
}
@media screen and (max-width: 450px) {
  .boxContainer .box .textContainer .textField {
    width: 18.75rem;
  }
  .boxContainer .box .button {
    width: 18.75rem;
  }
}
/* === Estilos: ItemListContainer */
.headBrands-container .carrusel {
  background: #164439;
  width: 100%;
  height: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headBrands-container .carrusel .carruselContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27.68em;
}
.headBrands-container .carrusel .carruselContainer .MuiTypography-root {
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.headBrands-container .carrusel img {
  width: 33.25em;
  height: 23em;
  margin-left: 3em;
  border-top-right-radius: 12.5em;
  border-bottom-left-radius: 12.5em;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

@media screen and (max-width: 1025px) {
  .carrusel .carruselContainer {
    width: 23.68em !important;
  }
  .carrusel img {
    width: 28.25em !important;
  }
}
@media screen and (max-width: 867px) {
  .headBrands-container {
    display: none;
  }
}
.products-section-container {
  background-color: #ebebeb;
}
.products-section-container .itemListContainer {
  margin-top: 3.12em;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 5.6em;
}
.products-section-container .itemListContainer .category-title {
  width: 100%;
  margin-left: 5%;
}
.products-section-container .itemListContainer .category-controllers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper {
  padding: 0 1em;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, -0.12em);
  color: #696868;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, -0.12em);
  color: #696868;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay {
  text-decoration: none;
  color: inherit;
  margin: 1.25em 0.6em 1.25em 0.6em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay .categoriasContent {
  width: 9.56em;
  height: 9.18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #164439;
  border-radius: 0.15em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay .categoriasContent:hover {
  -webkit-box-shadow: 0 0.313em 0.188em 0 #d7a192;
          box-shadow: 0 0.313em 0.188em 0 #d7a192;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay .categoriasContent:hover svg {
  color: #FFC8B9;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay .categoriasContent:focus {
  border: 0.1em solid #FFC8B9;
  background: #052C22;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay .categoriasContent:focus svg {
  color: #FFC8B9;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay .categoriasContent svg {
  width: 2.5em;
  height: 2.5em;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: white;
}
.products-section-container .itemListContainer .category-controllers-container .categoriasContainer .swiper .swiper-wrapper .swiper-slide .redirecting-overlay .categoriasContent .MuiTypography-root {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.625em;
  color: white;
}
.products-section-container .itemsFilterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.products-section-container .itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.products-section-container .itemContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.12em;
}
.products-section-container .cardContainer {
  width: 20.62em;
  height: 20.62em;
  border-radius: 0.2em;
  background: var(--Card, #F8F8F8);
  -webkit-box-shadow: 0.188em 0.25em 0.688em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0.188em 0.25em 0.688em 0 rgba(0, 0, 0, 0.1);
  margin: 0.6em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products-section-container .cardContainer .heart-icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  fill: #164439;
  width: 2em;
  height: 2em;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.125em #FFF);
          filter: drop-shadow(0 0 0.125em #FFF);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.products-section-container .cardContainer .MuiCardMedia-root {
  width: 95%;
  height: 55%;
  margin: 0.8em;
  border-radius: 0.2em 6.25em 0.2em 0.2em;
}
.products-section-container .cardContainer .MuiTypography-root {
  width: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.products-section-container .cardContainer .MuiTypography-root:last-of-type {
  display: block;
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-section-container .cardContainer .butonDetailContainer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0.5em;
}
.products-section-container .cardContainer .buttonToDetail {
  text-transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 70%;
  height: 2.5em;
  background-color: #164439;
  border-radius: 0.2em;
}
.products-section-container .cardContainer .buttonToDetail .MuiTypography-root,
.products-section-container .cardContainer .buttonToDetail svg {
  font-size: 1em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.products-section-container .cardContainer .buttonToDetail:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #164439;
  text-align: center;
}
.products-section-container .cardContainer .buttonToDetail:hover svg {
  color: #41a88a;
}
.products-section-container .cardContainer .buttonToDetail:hover .MuiTypography-root {
  color: #41a88a;
  text-shadow: 0.063em 0.063em 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 720px) {
  .products-section-container .cardContainer {
    width: 19em;
    height: 19em;
  }
}
/* === Estilos: Item Detail */
html {
  scroll-behavior: smooth;
}

.global-container {
  width: 100%;
}
.global-container .globalItemDetailContainer {
  width: 100%;
  padding: 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #164439;
  padding: 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-container .globalItemDetailContainer .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 0 12.5em;
  max-width: 37.4em;
  width: 80%;
  height: 29.1em;
  margin-right: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.global-container .globalItemDetailContainer .imgContainer .heart-icon {
  position: absolute;
  top: 1em;
  left: 1em;
  fill: #164439;
  width: 4em;
  height: 4em;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.125em #FFF);
          filter: drop-shadow(0 0 0.125em #FFF);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.global-container .globalItemDetailContainer .imgContainer .MuiCardMedia-root {
  border-radius: 0 12.5em;
  width: 100%;
  height: 100%;
}
.global-container .globalItemDetailContainer .item-container {
  width: 30%;
}
.global-container .globalItemDetailContainer .item-container .itemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5em;
  width: 100%;
}
.global-container .globalItemDetailContainer .item-container .itemDetail .label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3em;
}
.global-container .globalItemDetailContainer .item-container .itemDetail .titleDetail {
  width: 100%;
  margin-bottom: 1em;
  overflow-x: clip;
  text-overflow: ellipsis;
}
.global-container .globalItemDetailContainer .item-container .itemDetail .descriptionDetail {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .stockItemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.5em;
  border-radius: 0.2em;
  background-color: #FFFF66;
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .counterItemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7.5em;
  height: 2.25em;
  background-color: #e7e7e7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.4em;
  border-radius: 0.2em;
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .subRemoveOne {
  background-color: #e7e7e7;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4em;
  width: 1.2em;
  height: 100%;
  text-align: center;
  border-radius: 0.2em 50% 50% 0.2em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .subRemoveOne:hover {
  background-color: rgba(22, 68, 57, 0.2980392157);
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .subRemoveOne:disabled:hover {
  background-color: rgba(255, 0, 0, 0.193);
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .subAddOne {
  background-color: #e7e7e7;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4em;
  width: 1.2em;
  height: 100%;
  text-align: center;
  border-radius: 50% 0.2em 0.2em 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .subAddOne:hover {
  background-color: rgba(22, 68, 57, 0.2980392157);
}
.global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer .counter-container .subAddOne:disabled:hover {
  background-color: rgba(255, 0, 0, 0.193);
}
.global-container .serviceContainer {
  width: 100%;
  height: 15em;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.global-container .serviceContainer .service {
  width: 33.3333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.global-container .serviceContainer .service svg {
  color: #164439;
  width: 5em;
  height: 5em;
}
.global-container .serviceContainer .service:nth-of-type(2) {
  border-left: 0.063em solid rgba(0, 0, 0, 0.2588235294);
  border-right: 0.063em solid rgba(0, 0, 0, 0.2588235294);
}

@media screen and (max-width: 950px) {
  .global-container .globalItemDetailContainer {
    padding: 2em 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .global-container .globalItemDetailContainer .imgContainer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2em;
  }
  .global-container .globalItemDetailContainer .item-container {
    width: 80%;
  }
  .global-container .globalItemDetailContainer .item-container .itemDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 1.25em;
  }
  .global-container .globalItemDetailContainer .item-container .itemDetail .titleDetail {
    margin-bottom: 0.625em;
  }
  .global-container .globalItemDetailContainer .item-container .itemDetail .descriptionDetail {
    margin-bottom: 0.31em;
  }
  .global-container .globalItemDetailContainer .item-container .stockCounterButtonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .global-container .globalItemDetailContainer .imgContainer {
    height: 20.1em;
  }
  .global-container .globalItemDetailContainer .imgContainer .MuiCardMedia-root {
    border-radius: 0 5em;
  }
  .global-container .serviceContainer {
    padding: 2em 0;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .global-container .serviceContainer .service:nth-of-type(1) {
    padding-bottom: 1em;
  }
  .global-container .serviceContainer .service:nth-of-type(3) {
    padding-top: 1em;
  }
  .global-container .serviceContainer .service:nth-of-type(2) {
    padding: 1em 0;
    border-left: none;
    border-right: none;
    border-top: 0.063em solid rgba(0, 0, 0, 0.2588235294);
    border-bottom: 0.063em solid rgba(0, 0, 0, 0.2588235294);
  }
}
/* === Estilos: Cart */
.responsiveCart {
  display: none;
}

.cart {
  width: 100%;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .tableContainer {
  width: 85%;
  max-height: 42.813rem;
  border-radius: 3px;
  -webkit-box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin-top: 1.25rem;
}
.cart .tableContainer .table-product-container {
  position: relative;
}

.cartStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}
.cartStatus .separation {
  border-top: 1px solid rgba(0, 0, 0, 0.225);
  width: 2.5em;
  margin: 0 0.3em;
}

.productContainer img {
  width: 4.188rem;
  height: 4.25rem;
  border-radius: 0.2em;
  cursor: pointer;
}
.productContainer .deleteProductContainer {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  background: #41A88A;
  width: 1.563rem;
  height: 1.563rem;
}
.productContainer .deleteProductContainer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  width: 0.875rem;
  height: 0.875rem;
}

.quantityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EEE;
  width: 5.5rem;
  height: 2.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.375rem;
  margin-right: 1.25rem;
}
.quantityContainer .quantity {
  background: #FFF;
  width: 2.232rem;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  margin-left: 0.156rem;
}
.quantityContainer .quantitySubAdd {
  border: none;
  outline: none;
  width: 1.75rem;
  height: 2.25rem;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
}

.subTotalContainer {
  position: sticky;
  bottom: 0;
  padding: 0.625rem;
  background: #F8F8F8;
}
.subTotalContainer .subTotal {
  background: #FFF;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.25rem;
  width: 50%;
  margin-bottom: 4.375rem;
}
.optionsContainer .linksOptions {
  text-decoration: none;
}
.optionsContainer .linksOptions span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.optionsContainer .linksOptions svg {
  width: 0.875rem;
  height: 0.875rem;
}

@media screen and (max-width: 800px) {
  .cart .tableContainer {
    width: 95%;
  }
}
@media screen and (max-width: 720px) {
  .responsiveCart {
    display: block;
  }
  .cart {
    display: none;
  }
  .cartResponsive {
    width: 100%;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cartResponsive .tableContainerResponsive {
    width: 80%;
    max-height: 25.938rem;
    border-radius: 3px;
    -webkit-box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
    overflow: auto;
    margin-top: 1.25rem;
  }
  .cartStatusResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.5em;
    width: 90%;
  }
  .cartStatusResponsive .separation {
    border-left: 1px solid rgba(0, 0, 0, 0.225);
    height: 1.5em;
    margin: 0.2em 0;
  }
  .productContainerResponsive {
    margin-right: 1.25rem;
  }
  .productContainerResponsive img {
    width: 5.625rem;
    height: 9cap;
    border-radius: 2px;
  }
  .productContainerResponsive .deleteProductContainerResponsive {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    background: #41A88A;
    width: 1.875rem;
    height: 1.875rem;
  }
  .productContainerResponsive .deleteProductContainerResponsive svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #FFF;
    width: 1.375rem;
    height: 1.375rem;
  }
  .detailProductContainerResponsive {
    margin-left: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 10em;
  }
  .detailProductContainerResponsive .product-title {
    font-size: 0.813rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .quantityPriceContainerResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.938rem;
  }
  .quantityContainerResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #EEE;
    width: 5.5rem;
    height: 2.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.375rem;
    margin-right: 1.25rem;
  }
  .quantityContainerResponsive .quantityResponsive {
    background: #FFF;
    width: 2.232rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
  }
  .quantityContainerResponsive .quantitySubAddResponsive {
    width: 1.75rem;
    height: 2.25rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.3em;
    cursor: pointer;
  }
  .subTotalContainerResponsive {
    position: sticky;
    bottom: 0;
    padding: 0.625rem;
    background: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .optionsContainerResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.25rem;
    width: 80%;
    margin-bottom: 4.375rem;
  }
  .optionsContainerResponsive .linksOptionsResponsive {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .optionsContainerResponsive .linksOptionsResponsive SVG {
    width: 0.875rem;
    height: 0.875rem;
  }
}
.product_list-global-container .add-search-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding: 0.5em 0;
  position: relative;
}
.product_list-global-container .add-search-container .back-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0.5em 0 0.5em 0.5em;
  width: 4em;
  border: none;
  cursor: pointer;
}
.product_list-global-container .add-search-container .back-button::before {
  content: "<";
  color: #1976D2;
  font-size: 3em;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 720px) {
  .product_list-global-container .add-search-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product_list-global-container .add-search-container .MuiButtonBase-root,
  .product_list-global-container .add-search-container .MuiTextField-root {
    width: 60% !important;
  }
}
/* === Estilos: Checkout*/
.checkoutContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.checkoutContainer .checkoutBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkoutContainer .checkoutBox .principalCheckout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkoutContainer .checkoutBox .infoCheckoutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
}
.checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout .detailInfoCheckout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  margin: 0.5em;
}

.cartStatusCheckout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
}
.cartStatusCheckout .cartLine {
  width: 10%;
  height: 0.063rem;
  margin-left: 0.313rem;
  margin-right: 0.313rem;
}

.css-hfbky5-MuiTypography-root {
  margin: 0;
  color: #164439;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout {
    margin-right: 1rem;
  }
  .checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout .detailInfoCheckout {
    width: 16rem;
  }
}
@media screen and (max-width: 800px) {
  .checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout {
    margin-right: 1rem;
  }
  .checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout .detailInfoCheckout {
    width: 16rem;
  }
}
@media screen and (max-width: 700px) {
  .checkoutContainer .checkoutBox .infoCheckoutContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout {
    width: 25rem;
    height: auto;
    margin-bottom: 1rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 500px) {
  .checkoutContainer .checkoutBox .cartStatusCheckout {
    width: 20rem;
  }
}
@media screen and (max-width: 450px) {
  .checkoutContainer .checkoutBox .infoCheckoutContainer .infoCheckout {
    width: 20rem;
  }
}
/* === Estilos: ContactDetail*/
.contactDetail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactDetail .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.contactDetail .contactContainer .contactImg {
  width: 9.625rem;
  height: 1.625rem;
}
.contactDetail .contactContainer .contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 3rem;
  width: 30rem;
}
.contactDetail .contactContainer .contactBox .infoBox {
  width: 100%;
}
.contactDetail .contactContainer .contactBox .infoBox .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactDetail .contactContainer .contactStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
  width: 30rem;
}
.contactDetail .contactContainer .contactStatus .contactLine {
  width: 10%;
  height: 0.063rem;
  margin-left: 0.313rem;
  margin-right: 0.313rem;
}
.contactDetail .contactContainer .optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.25rem;
  width: 80%;
  margin-bottom: 4.375rem;
}
.contactDetail .contactContainer .optionsContainer .linksOptions {
  text-decoration: none;
}
.contactDetail .contactContainer .optionsContainer .linksOptions span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactDetail .contactContainer .optionsContainer .linksOptions svg {
  width: 0.875rem;
  height: 0.875rem;
}
.contactDetail .contactContainer .optionsContainer .linksOptions-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.contactDetail .contactContainer .optionsContainer .linksOptions-btn svg {
  width: 0.875rem;
  height: 0.875rem;
}

@media screen and (max-width: 600px) {
  .contactDetail .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25rem;
  }
  .contactDetail .contactContainer .subtitulo {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .contactDetail .contactContainer .contactStatus {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25rem;
  }
  .contactDetail .contactContainer .contactBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25rem;
  }
  .contactDetail .contactContainer .contactBox .infoBox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contactDetail .contactContainer .contactBox .controlersBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .contactDetail .contactContainer .optionsContainer {
    width: 25rem;
  }
}
@media screen and (max-width: 400px) {
  .contactDetail .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactDetail .contactContainer .contactStatus {
    width: 18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactDetail .optionsContainer {
    width: 18rem;
  }
}
/* === Estilos: CartCheckout*/
.cartCheckout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
}
.cartCheckout .tablecartCheckout {
  max-height: 25.938rem;
  border-radius: 3px;
  -webkit-box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.productContainerCartCheckout {
  position: relative;
  margin-right: 1.25rem;
}
.productContainerCartCheckout img {
  width: 5.625rem;
  height: 9cap;
  border-radius: 2px;
}

.detailProductContainerCheckout {
  margin-left: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subTotalCartCheckut {
  position: sticky;
  bottom: 0;
  padding: 0.625rem;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 800px) {
  .productContainerCartCheckout {
    display: none;
  }
  .tablecartCheckout {
    width: 1rem;
  }
  .cartCheckout {
    width: 22rem;
  }
}
@media screen and (max-width: 700px) {
  .productContainerCartCheckout {
    display: block;
  }
  .cartCheckout {
    width: 25rem;
  }
}
@media screen and (max-width: 450px) {
  .cartCheckout {
    width: 20rem;
  }
}