    .cartCheckout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 25rem;

        .tablecartCheckout {
            max-height: 25.938rem;
            border-radius: 3px;
            box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.10);
            overflow: auto;
        }
    }

    .productContainerCartCheckout {
        position: relative;
        margin-right: 1.25rem;

        img {
            width: 5.625rem;
            height: 9cap;
            border-radius: 2px;
        }
    }

    .detailProductContainerCheckout {
        margin-left: 0.625rem;
        display: flex;
        flex-direction: column;
    }

    .subTotalCartCheckut {
        position: sticky;
        bottom: 0;
        padding: 0.625rem;
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
    }

        @media screen and (max-width: 800px) {

            .productContainerCartCheckout {
                display: none;
            }
            .tablecartCheckout {
                width: 1rem;
            }
            .cartCheckout {
                width: 22rem;
            }

        }

        @media screen and (max-width: 700px) {
            .productContainerCartCheckout {
                display: block;
            }
            .cartCheckout {
                width: 25rem;
            }
        }

        @media screen and (max-width: 450px) {
            .cartCheckout {
                width: 20rem;
            }
        }        