.responsiveCart {
    display: none;
}
.cart {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .tableContainer {
    width: 85%;
    max-height: 42.813rem;
    border-radius: 3px;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.10);
    overflow: auto;
    margin-top: 1.25rem;
        .table-product-container{
            position: relative;
        }
    }
}

.cartStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; 
    align-items: center;
    margin-top: 2.5rem;
    .separation{
        border-top: 1px solid rgba(0, 0, 0, 0.225);
        width: 2.5em;
        margin: 0 .3em;                
    }
}

.productContainer {
    // width: -webkit-fill-available;
    img {
        width: 4.188rem;
        height: 4.25rem;
        border-radius: .2em;
        cursor: pointer;
    }
    .deleteProductContainer {
        position: absolute;
        top: .5em;
        right: .5em;
        cursor: pointer;
        background: #41A88A;
        width: 1.563rem;
        height: 1.563rem;
        & svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #FFF;
            width: 0.875rem;
            height: 0.875rem;
        }
    }
}

.quantityContainer {
    display: flex;
    background: #EEE;
    width: 5.5rem;
    height: 2.25rem;
    align-items: center;
    margin-top: 0.375rem;
    margin-right: 1.25rem;
    .quantity {
        background: #FFF;
        width: 2.232rem;
        height: 1.8rem;
        line-height: 1.8rem;
        text-align: center;
        margin-left: 0.156rem;
    }
    .quantitySubAdd {
        // color: #9A9A9A;
        border: none;
        outline: none;
        width: 1.75rem;
        height: 2.25rem;
        text-align: center;
        // line-height: 2.25rem;
        font-size: 1.3em;
        cursor: pointer;
    }
}

.subTotalContainer {
    position: sticky;
    bottom: 0;
    padding: 0.625rem;
    background: #F8F8F8;
    .subTotal {
        background: #FFF;
        padding: 1em 0;
        display: flex;
        align-items: center;
        color: #000;
    }
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.25rem;
    width: 50%;
    margin-bottom: 4.375rem;
    .linksOptions {
        text-decoration: none;
        & span{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & svg {
            width: 0.875rem;
            height: 0.875rem;
        }
    }
}

@media screen and (max-width: 720px) {
    .responsiveCart {
            display: block;
        }
    .cart {
        display: none;
    }
    
        .cartResponsive {
            width: 100%;
            margin-top: 3rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
    
            .tableContainerResponsive {
                width: 80%;
                max-height: 25.938rem;
                border-radius: 3px;
                box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.10);
                overflow: auto;
                margin-top: 1.25rem;
            }
        }
    
        .cartStatusResponsive {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 1.5em;
            width: 90%;
    
            .separation{
                border-left: 1px solid rgba(0, 0, 0, 0.225);
                height: 1.5em;
                margin: .2em 0;                
            }
        }


        .productContainerResponsive {
            margin-right: 1.25rem;

            img {
                width: 5.625rem;
                height: 9cap;
                border-radius: 2px;
            }
    
            .deleteProductContainerResponsive {
                position: absolute;
                top: .5em;
                right: .5em;
                cursor: pointer;
                background: #41A88A;
                width: 1.875rem;
                height: 1.875rem;
    
                & svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #FFF;
                    width: 1.375rem;
                    height: 1.375rem;
                }
            }
        }
    .detailProductContainerResponsive {
        margin-left: 0.625rem;
        display: flex;
        flex-direction: column;
        width: 10em;
        .product-title{
            font-size: 0.813rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .quantityPriceContainerResponsive {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.938rem;
    }

        .quantityContainerResponsive {
            display: flex;
            background: #EEE;
            width: 5.5rem;
            height: 2.25rem;
            align-items: center;
            margin-top: 0.375rem;
            margin-right: 1.25rem;
    
            .quantityResponsive {
                background: #FFF;
                width: 2.232rem;
                height: 1.8rem;
                line-height: 1.8rem;
                text-align: center;
            }
    
            .quantitySubAddResponsive {
                width: 1.75rem;
                height: 2.25rem;
                text-align: center;
                border: none;
                outline: none;
                font-size: 1.3em;
                cursor: pointer;
            }
        }
    
        .subTotalContainerResponsive {
            position: sticky;
            bottom: 0;
            padding: 0.625rem;
            background: #F8F8F8;
            display: flex;
            flex-direction: column;
        }
    
        .optionsContainerResponsive {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1.25rem;
            width: 80%;
            margin-bottom: 4.375rem;
    
            .linksOptionsResponsive {
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                & SVG {
                    width: 0.875rem;
                    height: 0.875rem;
                }
            }
        }
}