//-----------------------------------------------------HEADER
.headBrands-container .carrusel {
    background: #164439;
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;

    .carruselContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 27.68em;
        .MuiTypography-root{
            transition: width .3s ease;
        }
    }
    
    img {
        width: 33.25em;
        height: 23em;
        margin-left: 3em;
        border-top-right-radius: 12.5em;
        border-bottom-left-radius: 12.5em;
        transition: width .3s ease;
    }
}


@media screen and (max-width: 1025px) {
    .carrusel {
            .carruselContainer {
                width: 23.68em!important;
            }
            img {
                width: 28.25em!important;
            }            
        }
}
@media screen and (max-width: 867px) {
    .headBrands-container {
        display: none;           
    }
}

//-----------------------------------------------------MAIN
.products-section-container{
    background-color: #ebebeb;
    .itemListContainer {
        margin-top: 3.12em;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5.6em;
        .category-title{
            width: 100%;
            margin-left: 5%;
        }
        .category-controllers-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            // position: relative;
            .categoriasContainer {
                width: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                text-align: center;
                .swiper{
                    padding: 0 1em;
                    .swiper-button-next{
                        right: var(--swiper-navigation-sides-offset, -0.12em);
                        color: #696868;
                    }
                    .swiper-button-prev{
                        left: var(--swiper-navigation-sides-offset, -0.12em);
                        color: #696868;
                    }
                    .swiper-wrapper{
                        .swiper-slide{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .redirecting-overlay{
                                text-decoration: none;
                                color: inherit;
                                margin: 1.25em .6em 1.25em .6em;
                                transition: all .2s ease;
                                .categoriasContent {
                                    width: 9.56em;
                                    height: 9.18em;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    background: #164439;
                                    border-radius: .15em;
                                    transition: all .3s ease;
                                    &:hover {
                                        box-shadow: 0 .313em .188em 0 #d7a192;
                                        & svg {
                                            color: #FFC8B9;
                                        }
                                    }
                                    &:focus {
                                        border: .1em solid #FFC8B9;
                                        background: #052C22;
                                        & svg {
                                            color: #FFC8B9;
                                        }
                                    }
                                    & svg {
                                        width: 2.5em;
                                        height: 2.5em;
                                        transition: color 0.3s ease;
                                        color: white;
                                    }
                                    .MuiTypography-root {
                                        align-items: center;
                                        margin-top: .625em;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .itemsFilterContainer {
        display: flex;
        flex-direction: column;
    }

    .itemsContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .itemContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 3.12em;
    }

    .cardContainer {
        width: 20.62em;
        height: 20.62em;
        border-radius: .2em;
        background: var(--Card, #F8F8F8);
        box-shadow: .188em .25em .688em 0 rgba(0, 0, 0, 0.10);
        margin: .6em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heart-icon{
            position: absolute;
            top: .5em;
            right: .5em;
            fill: #164439;
            width: 2em;
            height: 2em;
            cursor: pointer;
            filter: drop-shadow(0 0 .125em #FFF);
            transition: all .2s ease;
        }

        .MuiCardMedia-root {
            width: 95%;
            height: 55%;
            margin: 0.8em;
            border-radius: .2em 6.25em .2em .2em;
        }

        .MuiTypography-root{
            width: 90%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            &:last-of-type{
                display: block;
                white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .butonDetailContainer {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: .5em;
        }

        .buttonToDetail {
            text-transform: none;
            box-shadow: none;
            width: 70%;
            height: 2.5em;
            background-color: #164439;
            border-radius: .2em;
            .MuiTypography-root,
            svg{
                font-size: 1em;
                transition: all .2s ease;
            }
            &:hover {
                box-shadow: none;
                background-color: #164439;
                text-align: center;

                & svg {
                    color: #41a88a;
                }

                & .MuiTypography-root {
                    color: #41a88a;
                    text-shadow: .063em .063em 0 rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .products-section-container{
        .cardContainer {
            width: 19em;
            height: 19em;
        }
    }
}