
// Login.jsx, forgotPasword.jsx y Register comparten los estilos y nombres de clases que están a continuación

.boxContainer {
    width: 100%;
    
    .box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

        .img {
            width: 9.625rem;
            height: 1.625rem;
        }

        .subtitulo {
            margin-top: 1.25rem;
            margin-bottom: 3.125rem;
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            margin-top: 0.625rem;
            margin-bottom: 0.625rem;

            .textField {
                width: 37rem;
                margin-top: 0.625rem;
            }
        }

        .button {
            text-transform: none;
            box-shadow: none;
            border-radius: 0px;
            text-transform: none;
            width: 37rem;
            height: 3rem;
            background-color: #164439;
            margin-bottom: 0.625rem;

            &:hover {
                box-shadow: none;
                background-color: #164439;
                text-align: center;

                & svg {
                    color: #41a88a;
                }

                & .MuiTypography-root {
                    color: #41a88a;
                    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
                    font-style: italic;
                }
            }
        }

        .textContainerRow {
            display: flex;
            flex-direction: row;
            margin-top: 0.625rem;
            justify-content: center;

        }
    }
}


@media screen and (max-width: 660px) {
.boxContainer {
        .box {
            margin-left: 2.5rem;
            margin-right: 2.5rem;

            .textContainer {
                .textField {
                    width: 25rem;
                }
            }

            .button {
                width: 25rem;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .boxContainer {
        .box {

            .textContainer {
                .textField {
                    width: 18.75rem;
                }
            }

            .button {
                width: 18.75rem;
            }
        }
    }
}